<a href="https://colab.research.google.com/github/NIlesh-Thamke/Machine-Learning-Practicals/blob/main/Practical_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [2]:
data = pd.read_csv('data.csv')
print(data.head())

                  date      price  bedrooms  bathrooms  sqft_living  sqft_lot  \
0  2014-05-02 00:00:00   313000.0       3.0       1.50         1340      7912
1  2014-05-02 00:00:00  2384000.0       5.0       2.50         3650      9050
2  2014-05-02 00:00:00   342000.0       3.0       2.00         1930     11947
3  2014-05-02 00:00:00   420000.0       3.0       2.25         2000      8030
4  2014-05-02 00:00:00   550000.0       4.0       2.50         1940     10500

   floors  waterfront  view  condition  sqft_above  sqft_basement  yr_built  \
0     1.5           0     0          3        1340              0      1955
1     2.0           0     4          5        3370            280      1921
2     1.0           0     0          4        1930              0      1966
3     1.0           0     0          4        1000           1000      1963
4     1.0           0     0          4        1140            800      1976

   yr_renovated                    street       city  statezip country
0          2005      18810 Densmore Ave N  Shoreline  WA 98133     USA
1             0           709 W Blaine St    Seattle  WA 98119     USA
2             0  26206-26214 143rd Ave SE       Kent  WA 98042     USA
3             0           857 170th Pl NE   Bellevue  WA 98008     USA
4          1992         9105 170th Ave NE    Redmond  WA 98052     USA

In [5]:
print(data.isnull())

      price  bedrooms  bathrooms  sqft_living  sqft_lot  floors  waterfront  \
0     False     False      False        False     False   False       False
1     False     False      False        False     False   False       False
2     False     False      False        False     False   False       False
3     False     False      False        False     False   False       False
4     False     False      False        False     False   False       False
...     ...       ...        ...          ...       ...     ...         ...
4595  False     False      False        False     False   False       False
4596  False     False      False        False     False   False       False
4597  False     False      False        False     False   False       False
4598  False     False      False        False     False   False       False
4599  False     False      False        False     False   False       False

       view  condition  sqft_above  sqft_basement  yr_built  yr_renovated
0     False      False       False          False     False         False
1     False      False       False          False     False         False
2     False      False       False          False     False         False
3     False      False       False          False     False         False
4     False      False       False          False     False         False
...     ...        ...         ...            ...       ...           ...
4595  False      False       False          False     False         False
4596  False      False       False          False     False         False
4597  False      False       False          False     False         False
4598  False      False       False          False     False         False
4599  False      False       False          False     False         False

[4600 rows x 13 columns]

In [6]:
print(data.isnull().sum())

price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
dtype: int64

In [23]:
X = data[['sqft_living','floors','bedrooms']]  # Features (independent variables)
y = data["price"]

In [24]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [13]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [18]:
model = LinearRegression()
model.fit(X_train_scaled, y_train)

# Predict on test data
y_pred = model.predict(X_test_scaled)

print("\nModel Performance Metrics:")
mae = mean_absolute_error(y_test, y_pred)
print(f"Mean Absolute Error (MAE): {mae:.2f}")
mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error (MSE): {mse:.2f}")
rmse = np.sqrt(mse)
print(f"Root Mean Squared Error (RMSE): {rmse:.2f}")

Model Performance Metrics:
Mean Absolute Error (MAE): 210908.17
Mean Squared Error (MSE): 986921767056.13
Root Mean Squared Error (RMSE): 993439.36